body.rtl {direction:rtl; text-align:right;}
.rtl .mce-container, .rtl .mce-container *, .rtl .mce-widget, .rtl .mce-widget *, .rtl .mce-reset {direction:rtl; text-align:right;}

body.rtl #timestampdiv { direction: ltr;}